body {
    font-family: "Times New Roman", Helvetica, sans-serif;
}
.main-title{
    background-color: yellow;
    color:red;
    font-size: 100px;
    text-align: center;
}

.prompt,
.greet{
    text-align: center;
}
.greet{
    font-size: 75px;
    
}
.prompt{
    font-size: 50px;
}
ul.index-only{
    display: table;
    margin: auto;
    font-size: 35px;
    text-align: center;
}
img {
    height: auto;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.finish{
    font-size: 50px;
    color: green;
    text-align: center;
}